In [1]:
from datetime import timedelta
year = timedelta(days=365)
another_year = timedelta(weeks=40, days=84, hours=23,minutes=50, seconds=600)  # adds up to 365 days

In [2]:
year.total_seconds()

31536000.0

In [3]:
year == another_year

True

In [4]:
ten_years = 10 * year

In [5]:
ten_years, ten_years.days // 365

(datetime.timedelta(3650), 10)

In [6]:
nine_years = ten_years - year

In [7]:
nine_years, nine_years.days // 365

(datetime.timedelta(3285), 9)

In [8]:
three_years = nine_years // 3;

In [9]:
three_years, three_years.days // 365

(datetime.timedelta(1095), 3)

In [14]:
#Second
import time
from datetime import date
today = date.today()

In [15]:
today

datetime.date(2018, 5, 30)

In [16]:
today == date.fromtimestamp(time.time())

True

In [17]:
today.replace(year=self.year, month=self.month, day=self.day)

NameError: name 'self' is not defined

In [18]:
date(2002, 12, 4).weekday() == 2

True

In [19]:
def astimezone(self, tz):
    if self.tzinfo is tz:
        return self
    # Convert self to UTC, and attach the new time zone object.
    utc = (self - self.utcoffset()).replace(tzinfo=tz)
    # Convert from UTC to tz's local time.
    return tz.fromutc(utc)

In [20]:
astimezone()

TypeError: astimezone() missing 2 required positional arguments: 'self' and 'tz'

In [31]:
#time range 
import pandas as pd
pd.timedelta_range(0, periods=9, freq="7D2H30T")

TimedeltaIndex([ '0 days 00:00:00',  '7 days 02:30:00', '14 days 05:00:00',
                '21 days 07:30:00', '28 days 10:00:00', '35 days 12:30:00',
                '42 days 15:00:00', '49 days 17:30:00', '56 days 20:00:00'],
               dtype='timedelta64[ns]', freq='10230T')

In [42]:
from pandas.tseries.offsets import BDay
Next_Analytics_Day=pd.date_range(date.today(), periods=2, freq=BDay(5))
Next_Analytics_Day[1]

Timestamp('2018-06-06 00:00:00', freq='5B')

In [ ]:
for I between

In [33]:
BDay()

In [36]:
date.today()

datetime.date(2018, 5, 30)